{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
{% include "./header1.html" %}
<section class="section section-xl bg-catskill">
  <div class="container">
    <h2 class="fw-bold">Chiqim</h2>

    <div class="row row-30 text-md-start justify-content-sm-center">
      
      <div class="col-md-6 col-lg-4 ">
        <article class="post-news post-news-wide">
          <a href="client-{{client.id}}">
            <div class="post-news-body d-flex justify-content-center align-center p-5">
              <h1>➕</h1>
            </div>
          </a>
        </article>
      </div>
      {% for client in clients %}
      <div class="col-md-6 col-lg-4 ">

        <article class="post-news post-news-wide">
          <a href="client-{{client.id}}">
            <div class="post-news-body">
              <h4>{{ client.name }}</h4>
              <p>{{ client.phone }}</p>
              <p>{{ client.auto }}</p>
              <div class="offset-top-20">
              </div>

              <div class="post-news-meta offset-top-20"><i class="fa fa-money" aria-hidden="true"></i><span
                  class="align-middle inset-left-10 fst-italic text-black">{{ client.cash|intcomma }} so'm</span></div>

            </div>
          </a>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "./footer.html" %}
<!-- Corporate footer-->

<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}