{% extends "./base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
{% include "./header1.html" %}
<div class="page text-center  bg-catskill ">
  <!-- Hover Rows Table-->
  <section class="section section-xl ">
    <div class="container">
      <h2 class="fw-bold">Ombor qoldig'i</h2>
      <hr class="divider bg-madison">
      <div class="offset-top-60">
        <div class="table-responsive clearfix">
          <table class="table-dark-blue table-custom table table-custom-wrap">
            <tbody>
              <tr>
                <th></th>
                <th>Mahsulot nomlari</th>
                <th>Qoldiq</th>
              </tr>
              {% for ingredient in ingredients %}
              <tr>
                <td class="text-center p">{{ forloop.counter }}</td>
                <td><a class="link-primary" href="single-product.html?filter=">{{ ingredient.name }}</a></td>
                <td>{{ ingredient.weight|intcomma }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="offset-top-30 d-flex justify-content-end align-items-center ">
      </div>
    </div>

  </section>
</div>
<!-- Corporate footer-->
{% include "./footer.html" %}
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}